

// Libraries

@import "../bower_components/font-awesome/css/font-awesome.css";
@import "../bower_components/bootstrap/dist/css/bootstrap.css";
@import "../bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css";
@import "../bower_components/snackbarjs/dist/snackbar.min.css";
@import "../bower_components/nprogress/nprogress.css";


// Config

@import "config/colorscheme.config.less";
@import "config/mixins.config.less";


// Elements
@import "elements/progress.element.less";
@import "elements/snackbar.element.less";
@import "elements/btn.element.less";
@import "elements/modal.element.less";
@import "elements/event.element.less";

body {
  padding-bottom: 120px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;

  * {
    outline: none;
    box-sizing: border-box;
  }
  .ib {
    display: inline-block;
    vertical-align: top;
  }

  #cover {
    position: relative;
    height: 300px;
    background: url('../images/cover.png') center no-repeat;
    background-size: cover;

    #btn--create-event {
      position: absolute;
      z-index: 100;
      top: ~"calc(100% - 30px)";
      left: ~"calc(50% - 150px)";
      width: 300px;
      height: 60px;
      line-height: 60px;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      .box-shadow();
      .transition(all .5s ease);

      &:hover {
        .box-shadow--lg();
      }
      &:active {
        .box-shadow--xs();
      }

      > i {
        position: absolute;
        left: ~"calc(50% - 15px)";
        bottom: ~"calc(100% + 20px)";
        width: 30px;
        height: 30px;
        font-size: 30px;
        text-shadow: 0 0 2px @black;
      }
    }
  }

  #top {
    position: relative;
    margin: 120px 0 20px 0;

    h2 {
      margin: 0;
      padding: 0;
      .font(18px, 600, @grey4);
      line-height: 30px;
      text-transform: uppercase;
    }
    #search {
      position: absolute;
      top: 0;
      right: 0;

      > i {
        position: absolute;
        margin: 5px;
        font-size: 20px;
        color: @grey4;
      }
      input {
        padding: 0 0 0 30px;
        width: 200px;
        height: 30px;
        .font(14px, 400, @black);
        line-height: 30px;
        border: none;
        border-bottom: 1px solid @grey4;

        &:focus {
          border-bottom-color: @black;
        }
      }
    }
  }
}